* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #F5F5F5;
}


h1, h2, h3, p {
  margin: 0
}

a {
  text-decoration: none;
  color: black;
}

button, input, textarea {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-family: inherit;
  color: inherit;
}

:root {
  --shadow:
    0px 8px 16px rgba(38, 38, 38, 0.24),
    0px 16px 24px rgba(38, 38, 38, 0.2);
}


.grid {
  background: #000;
  color: white;
  width: 500px;
  display: grid;
  /* justify-content: center; */
  justify-items: center;
  grid-template-columns: 120px 120px 120px;
  height: 50px;
}

.center {
  width: 1020px;
  margin: 0 auto;
}

.welcome {
  min-height: 100vh;
  background: url("./images/welcome_bg.png") center / cover;
  padding-top: 26px;
}

.header {
  color: white;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  grid-template-rows: auto 60px;
  row-gap: 28px;
  column-gap: 30px;
  grid-template-areas:
    "logo time phone button"
    "menu menu menu menu";
}

.main-btn {
  padding: 0 34px;
  height: 40px;
  color: white;
  background: #F2726F;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: bold;
}

.logo {
  display: grid;
  grid-template-columns: auto auto;
  grid-area: logo;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
}

.logo__title {
  font-weight: 900;
  font-size: 24px;
}

.info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 4px;
  grid-template-areas:
    "icon title"
    "icon caption";
}

.info__icon {
  grid-area: icon;
}

.info__title {
  grid-area: title;
}

.info__caption {
  grid-area: caption;
}

.info--time {
  grid-area: time;
}

.info--phone {
  grid-area: phone;
}

.header__main-btn {
  grid-area: button;
}

.menu {
  background: #fff;
  grid-area: menu;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 0 40px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 37px;
  align-items: center;
}

.actions {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 22px;
  align-items: center;
}

.section__title {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  column-gap: 16px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 33px;
  color: #5D62B5;
}

.section__title::before {
  content: "";
  display: block;
  width: 17px;
  height: 16px;
  background-image: url("./images/si.svg");
}

.section__title--white {
  color: white;
}

.section__title--white::before {
  content: "";
  background-image: url("./images/si_white.svg");
}

.section__caption {
  font-weight: 900;
  font-size: 36px;
}

.who {
  background-image: url("./images/shape.svg");
  background-repeat: no-repeat;
  background-position: -20px 260px;
  margin-bottom: 182px;
}

.up-block {
  height: 700px;
  background-color: #5D62B5;
  position: relative;
  top: -76px;
  color: white;
  border-radius: 40px;
  padding: 100px 87px 0;
}

.who__img {
  width: 846px;
  height: 420px;
  border-radius: 40px;
  background: url("./images/who_dog.png") center / cover;
  box-shadow: var(--shadow);
  position: absolute;
  bottom: -120px;
}

.pattern {
  width: 210px;
  height: 310px;
  background-image: url("./images/who_bg_pattern.svg");
}

.who__pattern {
  position: absolute;
  right: -70px;
  top: -100px;
}

.promises {
  height: 308px;
  margin-bottom: 122px;
}

.promises__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  margin-top: 68px;
}

.promise {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 23px;
  row-gap: 20px;
  grid-template-areas:
    "img title"
    "img caption";
}

.promise__img {
  grid-area: img;
}

.promise__title {
  grid-area: title;
  color: #F2726F;
  font-size: 19px;
  font-weight: 900;
}

.promise__caption {
  grid-area: caption;
  color: #4B4B4B;
}

.nemo {
  height: 500px;
  background-color: #29C3BE;
  background-image: url("./images/ball_line.png");
  background-position: 650px 0;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: auto 411px;
  justify-content: start;
  column-gap: 72px;
  position: relative;
  color: white;
  margin-bottom: 110px;
}

.nemo__pattern {
  position: absolute;
  bottom: 61px;
  left: -34px;
}

.nemo__shape {
  position: absolute;
}


.nemo__img {
  width: 744px;
  align-self: end;
  z-index: 2;
}

.nemo__content {
  padding-top: 112px;
}

.nemo__title {
  margin-bottom: 42px;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 340px) auto;
  gap: 24px;
  margin-top: 78px;
}

.service {
  background: white;
  border-radius: 20px;
  padding: 50px 44px;
  text-align: center;
}

.service__title {
  font-size: 19px;
  font-weight: 900;
  color: #F2726F;
  margin: 33px 0 20px;
}

.service:hover {
  box-shadow: var(--shadow);
}

.services__btn {
  padding: 0 24px;
  grid-column-start: 2;
  justify-self: center;
  margin-top: 42px;
}

.register {
  margin-top: 120px;
  height: 980px;
  background-image: url("./images/form_bg.png");
  background-size: cover;
  background-position: center;
  padding-top: 130px;
  color: white;
}

.register__content {
  display: grid;
  grid-template-columns: 585px auto;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  position: relative;
}

.form {
  padding: 76px 56px;
  border-radius: 40px;
  background: #5D62B5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 48px 48px 180px auto;
  gap: 22px;
  position: relative;
  z-index: 2;
  box-shadow: var(--shadow);
}

.register__pattern {
  position: absolute;
  left: -110px;
  bottom: -35px;
  height: 586px;
}

.register__shape {
  position: absolute;
  top: 0;
  left: -200px;
  top: -140px;
}

.form__title {
  grid-column-end: span 2;
  text-align: center;
  margin-bottom: 21px;
}

.form__field {
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  padding-left: 23px;
  color: white;
  font-size: 16px;
}

.form__field::placeholder {
  color: white;
}

.form__textarea {
  padding-top: 17px;
  grid-column-end: span 2;
}

.form__btn {
  margin-top: 8px;
  grid-column-start: 2;
}

.stats {
  text-align: center;
}


.tabs {
  height: 43px;
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
}

.tab__text {
  position: relative;
}

.tab--active {
  border-bottom: 4px solid #fff;
}

.tab--online:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #62B58F;
  position: absolute;
  top: -6px;
  right: -6px;
}

.stream__content {
  border-radius: 40px;
  box-shadow: var(--shadow);
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.stream__status {
  padding: 6px 19px 5px;
  background: #62B58F;
  border-radius: 50px;
  position: absolute;
  right: 32px;
  top: 30px;
  box-shadow: var(--shadow);
}

.video {
  height: 480px;
  background: url("./images/stream_img.png") center / cover;
}

.for-shape {
  background-image: url("./images/bg_shape.svg");
  background-repeat: no-repeat;
  min-height: 1400px;
  background-position: 0 -180px;
}

.customers {
  margin-top: 114px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 324px 1fr 1fr;
  column-gap: 24px;
}

.customers__caption {
  grid-row-start: 2;
  grid-column-start: 1;
}


.customer {
  background: white;
  border-radius: 20px;
  padding: 50px 42px 40px;
  grid-row-end: span 2;
  display: grid;
  grid-template-rows: 1fr 48px;
  grid-template-columns: 48px 1fr;
  row-gap: 39px;
  column-gap: 17px;
}

.customer__comment {
  grid-column-end: span 2;
}

.customer__photo {
  width: 100%;
}

.customer__name {
  align-self: center;
}

.data {
  height: 608px;
  background: #29C3BE; 
  color: white;
}

.data__center {
  position: relative;
  padding-top: 112px;
}

.data__shape {
  position: absolute;
  top: 0;
  right: -93px;
}

.data__img {
  position: absolute;
  right: 0;
  top: -80px;
  width: 498px;
  border-radius: 40px;
}

.data__content {
  margin-top: 79px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 24px;
}

.data-item {
  display: grid;
  grid-template-columns: 76px 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 3px;
  column-gap: 12px;
}

.data-item__icon {
  grid-row-end: span 2;
}

.data-item__value {
  font-size: 36px;
  font-weight: 900;
}

.data-item__title {
  color: #5D62B5;
  font-weight: bold;
}

